/* Layout */
:root {
    --sbm-color-primary:        #ffffff;
    --sbm-background-primary:   #111111;

    --sbm-color-secondary:      #000000;
    --sbm-background-secondary: #cccccc;

    --sbm-background-selected:  #3d3e3f;
    --sbm-background-image:     #666666;

    --sbm-background-title:     #3d3e3f40;
    --sbm-background-highlight: #3d3e3f;

    --safe-top: env(safe-area-inset-top);
}



/* Main Panels */
body {
    padding-top: var(--safe-top);
    background: var(--sbm-background-primary);
    overflow: hidden;
}
.sidebar {
    width: 240px;
    height: 100vh;
    height: 100svh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.7rem;
    overflow-y: auto;
    color: var(--sbm-color-primary);
    background: var(--sbm-color-secondary);
    border-right: 1px solid var(--sbm-background-image);
    z-index: 10;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition:
        transform 0.2s ease;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.content {
    margin-left: 240px;
    height: 100vh;
    height: 100svh;
    padding: 1.3rem;
    overflow-y: auto;
}



/* Overwrite - Bootstrap */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    color: var(--sbm-background-primary);
    background-color: var(--sbm-background-secondary);
    padding: 0.3rem;
}



/* Action Icons */
.list-hover-actions {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    display: flex;
    gap: 6px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity .15s ease,
        visibility 0s linear .15s;
}
/* Action Icons - Hover Effect */
.list-group-item:hover .list-hover-actions {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition-delay: .9s;
}
.action-dark {
    padding: 4px 3px;
    background-color: var(--sbm-background-primary);
    border: 1px solid var(--bs-border-color);
    border-radius: 4px;
}



/* Content of list-group */
.list-content {
    flex-grow: 1;
    min-width: 0;
    display: block;
    align-items: center;
    gap: 0.5rem;
    /* white-space: nowrap; */
    overflow: hidden;
}
#categoryList .list-group-item:hover .category-icon {
    text-shadow: 0px 0px 4px var(--bs-primary);
    /* color: var(--bs-primary); */
}
.list-content-item {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    min-width: 0;
}

/* Custom Category Style */
.category-active {
    font-weight: bold;
    color: var(--sbm-color-primary);
    background: var(--sbm-background-selected);
}
.category-dragover {
    color: var(--sbm-color-primary) !important;
    background-color: var(--bs-success) !important;
}



/* Inline Editing */
.inline-edit {
    display: block;
    border: 1px dashed #6c757d;
    padding: 2px 6px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--sbm-color-primary);
    width: 100%;
}
.inline-edit:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
}
.editing {
    background: var(--sbm-background-primary);
}
.list-group-item.editing .list-hover-actions {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Item Bild */
.item-img {
    display: inline-block;
    width: 96px;
    height: 96px;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 8px;
    flex-shrink: 0;
    /* border: 1px solid var(--sbm-background-selected); */
    /* background: var(--sbm-background-image); */
}

.item-preview {
    width: 170px;
    height: 96px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 8px;
    flex-shrink: 0;
    border: 1px solid var(--sbm-background-selected);
    background: var(--sbm-background-image);
    display: inline-block;
}

.item-main {
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    max-width: 100%;
}

.item-main a, .item-main a:visited {
    text-decoration: none;
    color: var(--bs-primary);
    font-weight: 600;
}
.item-main a:hover {
    color: var(--bs-primary-text-emphasis);
}

.item-title {
    display: block;
    font-size: 1.2rem;
}

.item-url {
    display: block;
    text-decoration: none;
}

.item-content {
    display: block;
}

.icon-img {
    border-radius: 4px;
    margin-left: 8px;

    border: 1px solid var(--sbm-background-selected);
    background: var(--sbm-background-image); 

    max-width: 256px;
    max-height: 256px;;
}

.pointer {
    cursor: pointer;
}

/* Drag & Drop File */
.itemDropZone {
    border: 3px dashed var(--bs-primary);
    border-radius: 4px;
    padding: 2px;
}

.drag-over {
    border: 3px solid var(--bs-success);
}



/* View-List <-> View-Grid */
#toggleToolBar {
    position: fixed;
    bottom: 12px;
    right: 12px;
}

#itemList {
    transition: all .2s ease;
}

/* View-List*/
#itemList.view-list .list-group-item {
    display: block;
}

#itemList.view-list .list-content-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* View-Grid */
#itemList.view-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    gap: 1rem;
}

#itemList.view-grid .list-group-item {
    aspect-ratio: 1;
    /* height: 144px; */
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    border: 0;
    background-color: unset;
}

#itemList.view-grid .list-content-item {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#itemList.view-grid .item-img {
    transition: filter 0.2s ease;;
}
#itemList.view-grid .list-group-item:hover .item-img {
    filter: drop-shadow(0 0 3px var(--sbm-color-primary)) drop-shadow(0 0 9px var(--sbm-color-primary));
}

#itemList.view-grid .item-main {
    position: absolute;
    bottom: 0;
    padding: 0.3rem;
    width: 100%;
    overflow: hidden;
    color: var(--sbm-color-primary);
    text-shadow: 1px 1px 2px var(--sbm-color-secondary);
    background-color: var(--sbm-background-title);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#itemList.view-grid .list-group-item:hover .item-main {
    background-color: var(--sbm-background-highlight);
}

#itemList.view-grid .item-img,
#itemList.view-grid .item-preview {
    width: 100%;
    height: 100%;
    margin: 0;
}

#itemList.view-grid .item-content,
#itemList.view-grid .item-url,
#itemList.view-grid .item-preview {
    display: none;
}

#itemList.view-grid .item-title {
    font-size: .9rem;
    line-height: 1.2;
}


#itemList.view-grid .list-hover-actions {
    position: absolute;
    top: unset;
    bottom: 0;
    right: 16px;
}


.sidebar.show {
    transform: none;
}

#sidebar-btn {
    display: none;
    position: fixed;
    bottom: 12px;
    left: 12px;
    z-index: 5;
}

@media (max-width: 991px) {
    .content {
        margin: 0.3rem;
        padding: 0;
    }
    #itemList.view-list .item-preview {
        display: none;
    }
    .sidebar {
        transform: translateX(-100%);
    }
    #sidebar-btn {
        display: block;
    }
}
